.grid{
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    border: 1px solid black;
    width: 58.6px;
    height: 58.6px;
}

.duck{
    background-image: url('../assets/duck1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

p{
    text-align: center;
    font-size: large;
    font-weight: bold;
}